/*@import url(/static/noway_regular/stylesheet.css);*/
@import url(/static/bariol/stylesheet.css);

strong {
    font-weight: normal;
    font-family: 'bariol_boldbold';
    letter-spacing: 1px;
}

b {
    letter-spacing: 0.5px;
}

html {
}

body {
    font-family: 'bariol_regularregular', Helvetica, Arial, sans-serif;
    color:      #111;
    margin:     0px;
    padding:    0px;
    font-size:  0.36cm;
    -webkit-text-stroke: 0.6px;
}

a.blue:link, a.blue:visited, a.blue:hover, a.blue:active {
    /*color: #0061ff;*/
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    /*color: #111;*/
    text-decoration: none;
}

button.navbar-toggler:focus {
    outline: 1px none;
}

ul, ol {
    list-style: circle;
}

.no-point {
    list-style: none;
}

/* Phone adjustments */
@media (max-width: 768px) {

    body {
        font-size: 1em;
    }

    .bloat {
        width: 100%;
    }

}
