<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sausage plz</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="static/css/style.css">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46921147-4"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-46921147-4');
        </script>

    </head>
    <body>

        <div class="container">
            <div class="row justify-content-center">
                <!-- BANNER -->
                <div class="col-12 mt-3 text-center">
                    <img src="static/content/site/banner.jpg" class="img-fluid" alt="Banner">
                </div>

                <!-- MENU -->
                <div class="col-12">

                    <nav class="nav nav-pills nav-fill border-top border-bottom border-left-0 border-right-0 py-0 mt-3" style="border-style: dotted !important;">
                        <a class="nav-item nav-link text-dark py-1 bloat" href="/"><b>PORTFOLIO</b></a>
                        <a class="nav-item nav-link text-dark py-1 bloat" href="#"><b>BLOG</b></a>
                        <a class="nav-item nav-link text-dark py-1 bloat" href="/about"><b>ABOUT</b></a>
                        <a class="nav-item nav-link text-dark py-1 bloat" href="/contact"><b>CONTACT</b></a>
                    </nav>

                </div>

                <!-- CONTENT -->
                <div class="col-12 mt-3">
                    <div class="row">

                        <div class="col-5">
                            <img src="static/content/site/larsa.jpg" class="img-fluid" alt="Heyo">
                        </div>

                        <div class="col-7">
                            <h4>Welcome to Sausage Clothing!</h4>
                            <p>
                                Sausage Clothing was founded in the summer of 2014 by a pretty cool dude named Lars Andersson from Falkenberg, Sweden. Lars Andersson plays in the band 'Electric Dicks' and the infamous acapella group 'Lars n the hest n mongs', legend says he always preforms with fake-ears and funny hats.
                            </p>
                            <p>
                                sausageclothing@gmail.com
                            </p>
                            <p>
                                ------------------
                            </p>
                            <p>
                                Special thanks to:
                            </p>
                            <p>
                                <a class="text-dark" href="http://svenandersson.se/">svenandersson.se</a><br>
                                <a class="text-dark" href="http://www.mmothersuperior.com/">mmothersuperior.com/</a>
                            </p>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- Poppr -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>

</html>
